---
layout: compress
---
<!DOCTYPE html>
<head>
    {% include head.html %}
  {% seo %}
<meta name="google-site-verification" content="oEIyTintFEQsuLkygR2M1YRfoGVy84On9k0udyPGM80" />
</head>
<body>
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300"><h3>{{ site.title }}</h3></p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/contacts">
                         Contacts
                         </a>
                 </h3>
                  <hr class="hr-line">
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
